{% extends 'templates/frontend/app.twig' %}

{% block content %}
	<h2 class="title">เหล็กโครงสร้างรูปพรรณขึ้นรูปเย็น</h2>
	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('carbon-steel-square-pipes.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/carbon-steel-square-pipes/carbon-steel-square-pipes.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>ท่อเหลี่ยม</p>
		</div>
	</div>

	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('galvanized-steel-pipe.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/galvanized-steel-pipe/galvanized-steel-pipe.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>ท่อเหล็กอาบสังกะสี</p>
		</div>
	</div>

	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('carbon-steel-tubes.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/carbon-steel-tubes/carbon-steel-tubes.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>ท่อเหล็กดำ</p>
		</div>
	</div>

	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('carbon-steel-rectangular-pipes.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/carbon-steel-rectangular-pipes/carbon-steel-rectangular-pipes.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>ท่อแบน</p>
		</div>
	</div>

	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('cold-formed-channel.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/cold-formed-channel/cold-formed-channel.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>เหล็กฉาก</p>
		</div>
	</div>

	<div class="box-element">
		<div class="element-image">
			<a href="{{ path_for('light-lip-channel.index') }}">
				<img src="{{ base_url() }}/assets/frontend/images/steel/cold-formed-structural-steel/light-lip-channel/light-lip-channel.jpg">
			</a>
		</div>
		<div class="element-detail">
			<p>เหล็กตัวซี</p>
		</div>
	</div>
{% endblock %}